@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

body {

    font-family: 'Kumbh Sans', sans-serif;

}

.profile-card {

    position: relative;

    width: 100%;

    min-height: 100vh;

    overflow: hidden;

    display: flex;

    justify-content: center;

    align-items: center;

    background-color: hsl( 185, 75%, 39% );
    
}

.profile-card > img {

    position: absolute;

    z-index: 1;

}

.profile-card > img.top-pattern {

    top: 0;

    left: 0;

    transform: translate( -50%, -50% );

}

.profile-card > img.bottom-pattern {

    bottom: 0;

    right: 0;
    
    transform: translate( 50%, 50% );

}

.profile-card .card {

    position: relative;

    z-index: 2;

    width: 350px;

    overflow: hidden;

    border-radius: 10px;

    box-shadow: -8px 8px 50px rgba( 0, 0, 0, .1 );

}

.profile-card .card .card-head {

    position: relative;

    display: flex;

}

.profile-card .card .card-head > img {

    width: 100%;

    max-width: 100%;

    height: auto;

}

.profile-card .card .card-head .user-img {

    position: absolute;

    bottom: -45px;

    left: 50%;

    transform: translateX( -50% );

    width: 100px;

    height: 100px;

    border: 5px solid #fff;

    border-radius: 50%;

    overflow: hidden;

}

.profile-card .card .card-body {

    background-color: #fff;

    text-align: center;

}

.profile-card .card .card-body .text {

    padding: 65px 30px 20px;

    border-bottom: 1px solid #eee;

}

.profile-card .card .card-body .text h3 {

    font-size: 18px;

    font-weight: 700;

    color: hsl( 229, 23%, 23% );

    margin-bottom: 10px;

}

.profile-card .card .card-body .text h3 span {

    display: inline-block;

    margin-left: 5px;

}

.profile-card .card .card-body .text h3 span,
.profile-card .card .card-body .text p {

    font-size: 15px;

    font-weight: 400;

    color: hsl( 227, 10%, 46% );

}

.profile-card .card .card-body .stats {

    padding: 25px 40px;

    display: flex;

    justify-content: space-between;

}

.profile-card .card .card-body .stats > div p {

    font-size: 18px;

    font-weight: 700;

    color: hsl( 229, 23%, 23% );

    margin-bottom: 8px;

}

.profile-card .card .card-body .stats > div span {

    font-size: 15px;

    font-weight: 400;

    color: hsl( 227, 10%, 46% );

}